


@media (--breakpoint-extra-small) {
  .background-size--cover-xs { background-size: cover; }
  .background-size--contain-xs { background-size: contain; }
}

@media (--breakpoint-small) {
  .background-size--cover-s { background-size: cover; }
  .background-size--contain-s { background-size: contain; }
}

@media (--breakpoint-medium) {
  .background-size--cover-m { background-size: cover; }
  .background-size--contain-m { background-size: contain; }
}

/*@media (--breakpoint-large) {
  .background-size--cover-l { background-size: cover; }
  .background-size--contain-l { background-size: contain; }
}

@media (--breakpoint-extra-large) {
  .background-size--cover-xl { background-size: cover; }
  .background-size--contain-xl { background-size: contain; }
}*/
