
@media (--breakpoint-extra-small) {
  .borderstyle-solid-xs {  border-style: solid; }
  .borderstyle-dotted-xs { border-style: dotted; }
  .borderstyle-dashed-xs { border-style: dashed; }
  .borderstyle-none-xs {   border-style: none; }
}

@media (--breakpoint-small) {
   .borderstyle-solid-s {  border-style: solid; }
   .borderstyle-dotted-s { border-style: dotted; }
   .borderstyle-dashed-s { border-style: dashed; }
   .borderstyle-none-s {   border-style: none; }
}

@media (--breakpoint-medium) {
   .borderstyle-solid-m {  border-style: solid; }
   .borderstyle-dotted-m { border-style: dotted; }
   .borderstyle-dashed-m { border-style: dashed; }
   .borderstyle-none-m {   border-style: none; }
}

@media (--breakpoint-large) {
  .borderstyle-dotted-l { border-style: dotted; }
  .borderstyle-dashed-l { border-style: dashed; }
  .borderstyle-solid-l {  border-style: solid; }
  .borderstyle-none-l {   border-style: none; }
}
