
@media (--breakpoint-extra-small) {
.border-width--0 { border-width: 0; }
.border-width--1 { border-width: .125rem; }
.border-width--2 { border-width: .25rem; }
.border-width--3 { border-width: .5rem; }
.border-width--4 { border-width: .75rem; }
.border-width--5 { border-width: 1rem; }

.border-top-width--0 { border-top-width: 0; }
.border-right-width--0 { border-right-width: 0; }
.border-bottom-width--0 { border-bottom-width: 0; }
.border-left-width--0 { border-left-width: 0; }
}

@media (--breakpoint-small) {
  .border-width--0-ns { border-width: 0; }
  .border-width--1-ns { border-width: .125rem; }
  .border-width--2-ns { border-width: .25rem; }
  .border-width--3-ns { border-width: .5rem; }
  .border-width--4-ns { border-width: .75rem; }
  .border-width--5-ns { border-width: 1rem; }

  .border-top-width--0-ns { border-top-width: 0; }
  .border-right-width--0-ns { border-right-width: 0; }
  .border-bottom-width--0-ns { border-bottom-width: 0; }
  .border-left-width--0-ns { border-left-width: 0; }
}

@media (--breakpoint-medium) {
  .border-width--0-m { border-width: 0; }
  .border-width--1-m { border-width: .125rem; }
  .border-width--2-m { border-width: .25rem; }
  .border-width--3-m { border-width: .5rem; }
  .border-width--4-m { border-width: .75rem; }
  .border-width--5-m { border-width: 1rem; }

  .border-top-width--0-m { border-top-width: 0; }
  .border-right-width--0-m { border-right-width: 0; }
  .border-bottom-width--0-m { border-bottom-width: 0; }
  .border-left-width--0-m { border-left-width: 0; }
}

@media (--breakpoint-large) {
  .border-width--0-l { border-width: 0; }
  .border-width--1-l { border-width: .125rem; }
  .border-width--2-l { border-width: .25rem; }
  .border-width--3-l { border-width: .5rem; }
  .border-width--4-l { border-width: .75rem; }
  .border-width--5-l { border-width: 1rem; }

  .border-top-width--0-l { border-top-width: 0; }
  .border-right-width--0-l { border-right-width: 0; }
  .border-bottom-width--0-l { border-bottom-width: 0; }
  .border-left-width--0-l { border-left-width: 0; }
}
