

@media (--breakpoint-extra-small) {
  .border-radius--0-s {        border-radius: 0; }
  .border-radius--1-s {        border-radius: .125rem; }
  .border-radius--2-s {        border-radius: .25rem; }
  .border-radius--3-s {        border-radius: .5rem; }
  .border-radius--4-s {        border-radius: 1rem; }
  .border-radius--5-s {        border-radius: 2rem; }
  .border-radius--100p-s {     border-radius: 100%; }
  .border-radius--bottom-s {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .border-radius--top-s {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .border-radius--right-s {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .border-radius--left-s {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}

@media (--breakpoint-small) {
  .border-radius--0-s {     border-radius: 0; }
  .border-radius--1-s {     border-radius: .125rem; }
  .border-radius--2-s {     border-radius: .25rem; }
  .border-radius--3-s {     border-radius: .5rem; }
  .border-radius--4-s {     border-radius: 1rem; }
  .border-radius--5-s {     border-radius: 2rem; }
  .border-radius--100p-s {  border-radius: 100%; }
  .border-radius--bottom-s {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .border-radius--top-s {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .border-radius--right-s {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .border-radius--left-s {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}

@media (--breakpoint-medium) {
  .border-radius--0-m {     border-radius: 0; }
  .border-radius--1-m {     border-radius: .125rem; }
  .border-radius--2-m {     border-radius: .25rem; }
  .border-radius--3-m {     border-radius: .5rem; }
  .border-radius--4-m {     border-radius: 1rem; }
  .border-radius--5-m {     border-radius: 2rem; }
  .border-radius--100p-m {  border-radius: 100%; }
  .border-radius--bottom-m {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .border-radius--top-m {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .border-radius--right-m {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .border-radius--left-m {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}

@media (--breakpoint-large) {
  .border-radius--0-l {     border-radius: 0; }
  .border-radius--1-l {     border-radius: .125rem; }
  .border-radius--2-l {     border-radius: .25rem; }
  .border-radius--3-l {     border-radius: .5rem; }
  .border-radius--4-l {     border-radius: 1rem; }
  .border-radius--5-l {     border-radius: 2rem; }
  .border-radius--100p-l {  border-radius: 100%; }
  .border-radius--bottom-l {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .border-radius--top-l {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .border-radius--right-l {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .border-radius--left-l {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}
