
@media (--breakpoint-extra-small) {
  .display--none {               display: none; }

  .display--inline {             display: inline; }
  .display--block {              display: block; }
  .display--inline-block {        display: inline-block; }
  .display--table {              display: table; }
  .display--table-cell {         display: table-cell; }
  .display--table-row {          display: table-row; }

  .table-layout--fixed {         table-layout: fixed;  width: 100%;}
}

@media (--breakpoint-not-small) {
  .display--none-ns {              display: none; }

  .display--inline-ns {            display: inline; }
  .display--block-ns {             display: block; }
  .display--inline-block-ns {       display: inline-block; }
  .display--table-ns {             display: table; }
  .display--tablecell-ns {         display: table-cell; }
  .display--tablerow-ns {          display: table-row; }

  .table-layout--fixed-ns {         table-layout: fixed;  width: 100%;}
}

@media (--breakpoint-medium) {
  .display--none-m {             display: none; }

  .display--inline-m {           display: inline; }
  .display-block-m {             display: block; }
  .display-inline-block-m {       display: inline-block; }
  .display-table-m {             display: table; }
  .display-tablecell-m {         display: table-cell; }
  .display-tablerow-m {          display: table-row; }

  .table-layout--fixed-m {         table-layout: fixed;  width: 100%;}width: 100%;
  }
}

@media (--breakpoint-large) {
  .display--none-l {             display: none; }

  .display-inline-l {            display: inline; }
  .display-block-l {             display: block; }
  .display-inline-block-l {       display: inline-block; }
  .display-table-l {             display: table; }
  .display-tablecell-l {         display: table-cell; }
  .display-tablerow-l {          display: table-row; }

  .table-layout--fixed-l {         table-layout: fixed;  width: 100%;}
}

