
@media (--breakpoint-extra-small) {
  .display-flex-xs { display: flex; }
  .display-inlineflex-xs { display: inline-flex; }

  .flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }
  .flex--none-xs                     { flex: none; }
  .flex-direction--column-xs         { flex-direction: column; }
  .flex-direction--row-xs            { flex-direction: row; }
  .flex-wrap--wrap-xs                { flex-wrap: wrap; }

  .align-items--start-xs             { align-items: flex-start; }
  .align-items--end-xs               { align-items: flex-end; }
  .align-items--center-xs            { align-items: center; }
  .align-items--baseline-xs          { align-items: baseline; }
  .align-items--stretch-xs           { align-items: stretch; }

  .align-self--flex-start-xs         { align-self: flex-start; }
  .align-self--flex-end-xs           { align-self: flex-end; }
  .align-self--center-xs             { align-self: center; }
  .align-self--baseline-xs           { align-self: baseline; }
  .align-self--stretch-xs            { align-self: stretch; }

  .justify-content--flexstart-xs     { justify-content: flex-start; }
  .justify-content--flexend-xs       { justify-content: flex-end; }
  .justify-content--center-xs        { justify-content: center; }
  .justify-content--space-between-xs { justify-content: space-between; }
  .justify-content--space-around-xs  { justify-content: space-around; }

  .align-content--flexstart-xs       { align-content: flex-start; }
  .align-content--flexend-xs         { align-content: flex-end; }
  .align-content--center-xs          { align-content: center; }
  .align-content--space-between-xs   { align-content: space-between; }
  .align-content--space-around-xs    { align-content: space-around; }
  .align-content--stretch-xs         { align-content: stretch; }

  .order--0-ns { order: 0; }
  .order--1-ns { order: 1; }
  .order--2-ns { order: 2; }
  .order--3-ns { order: 3; }
  .order--4-ns { order: 4; }

  .order-last-ns { order: 99999; }
}

@media (--breakpoint-small) {
  .display-flex-s { display: flex; }
  .display-inlineflex-s { display: inline-flex; }
  .flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }
  .flex--none-s              { flex: none; }
  .flex-direction--column-s   { flex-direction: column; }
  .flex-direction--row-s      { flex-direction: row; }
  .flex-wrap--wrap-s          { flex-wrap: wrap; }

  .align-items--start-s       { align-items: flex-start; }
  .align-items--end-s         { align-items: flex-end; }
  .align-items--center-s      { align-items: center; }
  .align-items--baseline-s    { align-items: baseline; }
  .align-items--stretch-s     { align-items: stretch; }

  .align-self--flex-start-s    { align-self: flex-start; }
  .align-self--flex-end-s      { align-self: flex-end; }
  .align-self--center-s       { align-self: center; }
  .align-self--baseline-s     { align-self: baseline; }
  .align-self--stretch-s      { align-self: stretch; }

  .justify-content--flexstart-s      { justify-content: flex-start; }
  .justify-content--flexend-s        { justify-content: flex-end; }
  .justify-content--center-s         { justify-content: center; }
  .justify-content--space-between-s  { justify-content: space-between; }
  .justify-content--space-around-s   { justify-content: space-around; }

  .align-content--flexstart-s        { align-content: flex-start; }
  .align-content--flexend-s          { align-content: flex-end; }
  .align-content--center-s           { align-content: center; }
  .align-content--space-between-s     { align-content: space-between; }
  .align-content--space-around-s      { align-content: space-around; }
  .align-content--stretch-s          { align-content: stretch; }

  .order--0-s { order: 0; }
  .order--1-s { order: 1; }
  .order--2-s { order: 2; }
  .order--3-s { order: 3; }
  .order--4-s { order: 4; }

  .order-last-s { order: 99999; }
}

@media (--breakpoint-medium) {
  .display-flex-m { display: flex; }
  .display-inlineflex-m { display: inline-flex; }
  .flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }
  .flex--none-m              { flex: none; }
  .flex-direction--column-m   { flex-direction: column; }
  .flex-direction--row-m      { flex-direction: row; }
  .flex-wrap--wrap-m          { flex-wrap: wrap; }

  .align-items--start-m       { align-items: flex-start; }
  .align-items--end-m         { align-items: flex-end; }
  .align-items--center-m      { align-items: center; }
  .align-items--baseline-m    { align-items: baseline; }
  .align-items--stretch-m     { align-items: stretch; }

  .align-self--flex-start-m    { align-self: flex-start; }
  .align-self--flex-end-m      { align-self: flex-end; }
  .align-self--center-m       { align-self: center; }
  .align-self--baseline-m     { align-self: baseline; }
  .align-self--stretch-m      { align-self: stretch; }

  .justify-content--flexstart-m      { justify-content: flex-start; }
  .justify-content--flexend-m        { justify-content: flex-end; }
  .justify-content--center-m         { justify-content: center; }
  .justify-content--space-between-m  { justify-content: space-between; }
  .justify-content--space-around-m   { justify-content: space-around; }

  .align-content--flexstart-m        { align-content: flex-start; }
  .align-content--flexend-m          { align-content: flex-end; }
  .align-content--center-m           { align-content: center; }
  .align-content--space-between-m     { align-content: space-between; }
  .align-content--space-around-m      { align-content: space-around; }
  .align-content--stretch-m          { align-content: stretch; }

  .order--0-m { order: 0; }
  .order--1-m { order: 1; }
  .order--2-m { order: 2; }
  .order--3-m { order: 3; }
  .order--4-m { order: 4; }
}

@media (--breakpoint-large) {
  .display-flex-l { display: flex; }
  .display-inlineflex-l { display: inline-flex; }
  .flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }
  .flex--none-l              { flex: none; }
  .flex-direction--column-l   { flex-direction: column; }
  .flex-direction--row-l      { flex-direction: row; }
  .flex-wrap--wrap-l          { flex-wrap: wrap; }

  .align-items--start-l       { align-items: flex-start; }
  .align-items--end-l         { align-items: flex-end; }
  .align-items--center-l      { align-items: center; }
  .align-items--baseline-l    { align-items: baseline; }
  .align-items--stretch-l     { align-items: stretch; }

  .align-self--flex-start-l    { align-self: flex-start; }
  .align-self--flex-end-l      { align-self: flex-end; }
  .align-self--center-l       { align-self: center; }
  .align-self--baseline-l     { align-self: baseline; }
  .align-self--stretch-l      { align-self: stretch; }

  .justify-content--flexstart-l     { justify-content: flex-start; }
  .justify-content--flexend-l       { justify-content: flex-end; }
  .justify-content--center-l        { justify-content: center; }
  .justify-content--space-between-l { justify-content: space-between; }
  .justify-content--space-around-l  { justify-content: space-around; }

  .align-content--flexstart-l        { align-content: flex-start; }
  .align-content--flexend-l          { align-content: flex-end; }
  .align-content--center-l           { align-content: center; }
  .align-content--space-between-l     { align-content: space-between; }
  .align-content--space-around-l      { align-content: space-around; }
  .align-content--stretch-l          { align-content: stretch; }

  .order--0-l { order: 0; }
  .order--1-l { order: 1; }
  .order--2-l { order: 2; }
  .order--3-l { order: 3; }
  .order--4-l { order: 4; }
}
