

@media (--breakpoint-extra-small) {
	.font-style--italic-xs  { font-style: italic; }
  	.font-style--normal-xs  { font-style: normal; }
}

@media (--breakpoint-small) {
	.font-style--italic-s  { font-style: italic; }
  	.font-style--normal-s  { font-style: normal; }
}

@media (--breakpoint-medium) {
	.font-style--italic-m    { font-style: italic; }
	.font-style--normal-m    { font-style: normal; }
  
}

@media (--breakpoint-large) {
	.font-style--italic-l   { font-style: italic; }
    .font-style--normal-l   { font-style: normal; }
}

/*@media (--breakpoint-extra-large) {
	.font-style--italic-xl   { font-style: italic; }
    .font-style--normal-xl   { font-style: normal; }
}*/
