
@media (--breakpoint-extra-small) {
  .font-weight--normal-xs         { font-weight: normal; }
  .font-weight--100-xs            { font-weight: 100; }
  .font-weight--300-xs            { font-weight: 300; }
  .font-weight--600-xs            { font-weight: 600; }
  .font-weight--900-xs            { font-weight: 900; }
}

@media (--breakpoint-not-small) {
  .font-weight--normal-ns         { font-weight: normal; }
  .font-weight--100-ns            { font-weight: 100; }
  .font-weight--300-ns            { font-weight: 300; }
  .font-weight--600-ns            { font-weight: 600; }
  .font-weight--900-ns            { font-weight: 900; }
}

@media (--breakpoint-medium) {
  .font-weight--normal-m         { font-weight: normal; }
  .font-weight--100-m            { font-weight: 100; }
  .font-weight--300-m            { font-weight: 300; }
  .font-weight--600-m            { font-weight: 600; }
  .font-weight--900-m            { font-weight: 900; }
}

@media (--breakpoint-large) {
  .font-weight--normal-l         { font-weight: normal; }
  .font-weight--100-l            { font-weight: 100; }
  .font-weight--300-l            { font-weight: 300; }
  .font-weight--600-l            { font-weight: 600; }
  .font-weight--900-l            { font-weight: 900; }
}
