
@media (--breakpoint-extra-small) {
  .height-xxxsmall-xs { height: var(--xxxsmall); }
  .height-xxsmall-xs { height: var(--xxsmall); }
  .height-xsmall-xs { height: var(--xsmall); }
  .height-small-xs { height: var(--small); }
  .height-medium-xs {  height: var(--medium); }
  .height-large-xs {  height: var(--large); }
  .height-xlarge-xs {  height: var(--xlarge); }
  .height-xxlarge-xs {  height: var(--xxlarge); }
  .height-xxxlarge-xs {  height: var(--xxxlarge); }

  .height-25p-xs { height: 25%; }
  .height-50p-xs { height: 50%; }
  .height-75p-xs { height: 75%; }
  .height-100p-xs { height: 100%; }
  
  .height-auto-xs { height: auto; }
  .height-inherit-xs { height: inherit; }
}

@media (--breakpoint-small) {
  .height-xxxsmall-s { height: var(--xxxsmall); }
  .height-xxsmall-s { height: var(--xxsmall); }
  .height-xsmall-s { height: var(--xsmall); }
  .height-small-s { height: var(--small); }
  .height-medium-s {  height: var(--medium); }
  .height-large-s {  height: var(--large); }
  .height-xlarge-s {  height: var(--xlarge); }
  .height-xxlarge-s {  height: var(--xxlarge); }
  .height-xxxlarge-s {  height: var(--xxxlarge); }

  .height-25p-s { height: 25%; }
  .height-50p-s { height: 50%; }
  .height-75p-s { height: 75%; }
  .height-100p-s { height: 100%; }

  .height-auto-s { height: auto; }
  .height-inherit-s { height: inherit; }
}

@media (--breakpoint-medium) {
  .height-xxxsmall-m { height: var(--xxxsmall); }
  .height-xxsmall-m { height: var(--xxsmall); }
  .height-xsmall-m { height: var(--xsmall); }
  .height-small-m { height: var(--small); }
  .height-medium-m {  height: var(--medium); }
  .height-large-m {  height: var(--large); }
  .height-xlarge-m {  height: var(--xlarge); }
  .height-xxlarge-m {  height: var(--xxlarge); }
  .height-xxxlarge-m {  height: var(--xxxlarge); }
  .height-25p-m { height: 25%; }
  .height-50p-m { height: 50%; }
  .height-75p-m { height: 75%; }
  .height-100p-m { height: 100%; }
  .height-auto-m { height: auto; }
  .height-inherit-m { height: inherit; }
}

@media (--breakpoint-large) {
  .height-xxxsmall-l { height: var(--xxxsmall); }
  .height-xxsmall-l { height: var(--xxsmall); }
  .height-xsmall-l { height: var(--xsmall); }
  .height-small-l { height: var(--small); }
  .height-medium-l {      height: var(--medium); }
  .height-large-l {      height: var(--large); }
  .height-xlarge-l {      height: var(--xlarge); }
  .height-xxlarge-l {      height: var(--xxlarge); }
  .height-xxxlarge-l {      height: var(--xxxlarge); }
  .height-25p-l { height: 25%; }
  .height-50p-l { height: 50%; }
  .height-75p-l { height: 75%; }
  .height-100p-l { height: 100%; }
  .height-auto-l { height: auto; }
  .height-inherit-l { height: inherit; }
}
