

@media (--breakpoint-extra-small) {
  .letter-spacing--tracked-xs      { letter-spacing:  .1em; }
  .letter-spacing--tight-xs        { letter-spacing: -.0.05em; }
  .letter-spacing--megatracked-xs  { letter-spacing:  .25em; }
}

@media (--breakpoint-small) {
  .letter-spacing--tracked-s      { letter-spacing:  .1em; }
  .letter-spacing--tight-s        { letter-spacing: -.0.05em; }
  .letter-spacing--megatracked-s  { letter-spacing:  .25em; }
}

@media (--breakpoint-medium) {
  .letter-spacing--tracked-m      { letter-spacing:  .1em; }
  .letter-spacing--tight-m        { letter-spacing: -.0.05em; }
  .letter-spacing--megatracked-m  { letter-spacing:  .25em; }
}

@media (--breakpoint-large) {
  .letter-spacing--tracked-l      { letter-spacing:  .1em; }
  .letter-spacing--tight-l        { letter-spacing: -.0.05em; }
  .letter-spacing--megatracked-l  { letter-spacing:  .25em; }
}