

@media (--breakpoint-extra-small) {
  .lineheight-1-xs                { line-height: 1.0; }
  .lineheight-1p5-xs              { line-height: 1.5; }
  .lineheight-1p6-xs              { line-height: 2.0; }
}

@media (--breakpoint-small) {
  .lineheight-1-s                { line-height: 1.0; }
  .lineheight-1p5-s              { line-height: 1.5; }
  .lineheight-1p6-s              { line-height: 2.0; }
}

@media (--breakpoint-medium) {
  .lineheight-1-m                { line-height: 1.0; }
  .lineheight-1p5-m              { line-height: 1.5; }
  .lineheight-1p6-m              { line-height: 2.0; }
}

@media (--breakpoint-large) {
  .lineheight-1-l                { line-height: 1.0; }
  .lineheight-1p5-l              { line-height: 1.5; }
  .lineheight-1p6-l              { line-height: 2.0; }
}

/*@media (--breakpoint-extra-large) {
  .lineheight-1-xl                { line-height: 1.0; }
  .lineheight-1p5-xl              { line-height: 1.5; }
  .lineheight-1p6-xl              { line-height: 2.0; }
}*/
