

@media (--breakpoint-extra-small) {
  .max-width--100p-xs  { max-width: 100%; }

  .max-width--medium-xs  {  max-width: var(--medium); }
  .max-width--large-xs  {  max-width: var(--large); }
  .max-width--xlarge-xs  {  max-width: var(--xlarge); }
  .max-width--xxlarge-xs  {  max-width: var(--xxlarge); }
  .max-width--xxxlarge-xs  {  max-width: var(--xxxlarge); }
  .max-width--xxxxlarge-xs  {  max-width: var(--xxxxlarge); }
  .max-width--xxxxxlarge-xs  {  max-width: var(--xxxxxlarge); }
  .max-width--xxxxxxlarge-xs  {  max-width: var(--xxxxxxlarge); }
  .max-width--xxxxxxxlarge-xs  {  max-width: var(--xxxxxxxlarge); }

  .max-width--none-ns { max-width: none; }
}


@media (--breakpoint-small) {
  .max-width--100p-s  { max-width: 100%; }

  .max-width--medium-s  {  max-width: var(--medium); }
  .max-width--large-s  {  max-width: var(--large); }
  .max-width--xlarge-s  {  max-width: var(--xlarge); }
  .max-width--xxlarge-s  {  max-width: var(--xxlarge); }
  .max-width--xxxlarge-s  {  max-width: var(--xxxlarge); }
  .max-width--xxxxlarge-s  {  max-width: var(--xxxxlarge); }
  .max-width--xxxxxlarge-s  {  max-width: var(--xxxxxlarge); }
  .max-width--xxxxxxlarge-s  {  max-width: var(--xxxxxxlarge); }
  .max-width--xxxxxxxlarge-s  {  max-width: var(--xxxxxxxlarge); }

  .max-width--none-s { max-width: none; }
}

@media (--breakpoint-medium) {
  .max-width--100p-m  { max-width: 100%; }

  .max-width--medium-m  {  max-width: var(--medium); }
  .max-width--large-m  {  max-width: var(--large); }
  .max-width--xlarge-m  {  max-width: var(--xlarge); }
  .max-width--xxlarge-m  {  max-width: var(--xxlarge); }
  .max-width--xxxlarge-m  {  max-width: var(--xxxlarge); }
  .max-width--xxxxlarge-m  {  max-width: var(--xxxxlarge); }
  .max-width--xxxxxlarge-m  {  max-width: var(--xxxxxlarge); }
  .max-width--xxxxxxlarge-m  {  max-width: var(--xxxxxxlarge); }
  .max-width--xxxxxxxlarge-m  {  max-width: var(--xxxxxxxlarge); }

  .max-width--none-m { max-width: none; }
}

@media (--breakpoint-large) {
  .max-width--100p-l  { max-width: 100%; }

  .max-width--medium-l  {  max-width: var(--medium); }
  .max-width--large-l  {  max-width: var(--large); }
  .max-width--xlarge-l  {  max-width: var(--xlarge); }
  .max-width--xxlarge-l  {  max-width: var(--xxlarge); }
  .max-width--xxxlarge-l  {  max-width: var(--xxxlarge); }
  .max-width--xxxxlarge-l  {  max-width: var(--xxxxlarge); }
  .max-width--xxxxxlarge-l  {  max-width: var(--xxxxxlarge); }
  .max-width--xxxxxxlarge-l  {  max-width: var(--xxxxxxlarge); }
  .max-width--xxxxxxxlarge-l  {  max-width: var(--xxxxxxxlarge); }

  .max-width--none-l { max-width: none; }
}
