

@media (--breakpoint-extra-small) {
  .position--static-xs            { position: static; }
  .position--relative-xs          { position: relative; }
  .position--absolute-xs          { position: absolute; }
  .position--fixed-xs             { position: fixed; }
}

@media (--breakpoint-small) {
  .position--static-s { position: static; }
  .position--relative-s  { position: relative; }
  .position--absolute-s  { position: absolute; }
  .position--fixed-s  { position: fixed; }
}

@media (--breakpoint-medium) {
  .position--static-m { position: static; }
  .position--relative-m  { position: relative; }
  .position--absolute-m  { position: absolute; }
  .position--fixed-m  { position: fixed; }
}

@media (--breakpoint-large) {
  .position--static-l { position: static; }
  .position--relative-l  { position: relative; }
  .position--absolute-l  { position: absolute; }
  .position--fixed-l  { position: fixed; }
}
