
@media (--breakpoint-extra-small) {

  .padding--0-xs {  padding: 0; }
  .padding--xxxsmall-xs { padding: var(--xxxsmall); }
  .padding--xxsmall-xs { padding: var(--xxsmall); }
  .padding--xsmall-xs {  padding: var(--xsmall); }
  .padding--small-xs  {  padding: var(--small); }
  .padding--medium-xs  {  padding: var(--medium); }
  .padding--large-xs  {  padding: var(--large); }
  .padding--xlarge-xs   {  padding: var(--xlarge); }
  .padding--xxlarge-xs  {  padding: var(--xxlarge); }
  .padding--xxxlarge-xs { padding: var(--xxxlarge); }

  .padding-left--0-xs {  padding-left: 0; }
  .padding-left--xxxsmall-xs { padding-left: var(--xxxsmall); }
  .padding-left--xxsmall-xs { padding-left: var(--xxsmall); }
  .padding-left--xsmall-xs {  padding-left: var(--xsmall); }
  .padding-left--small-xs  {  padding-left: var(--small); }
  .padding-left--medium-xs  {  padding-left: var(--medium); }
  .padding-left--large-xs  {  padding-left: var(--large); }
  .padding-left--xlarge-xs   {  padding-left: var(--xlarge); }
  .padding-left--xxlarge-xs  {  padding-left: var(--xxlarge); }
  .padding-left--xxxlarge-xs { padding-left: var(--xxxlarge); }

  .padding-right--0-xs {  padding-right: 0; }
  .padding-right--xxxsmall-xs { padding-right: var(--xxxsmall); }
  .padding-right--xxsmall-xs { padding-right: var(--xxsmall); }
  .padding-right--xsmall-xs {  padding-right: var(--xsmall); }
  .padding-right--small-xs  {  padding-right: var(--small); }
  .padding-right--medium-xs  {  padding-right: var(--medium); }
  .padding-right--large-xs  {  padding-right: var(--large); }
  .padding-right--xlarge-xs   {  padding-right: var(--xlarge); }
  .padding-right--xxlarge-xs  {  padding-right: var(--xxlarge); }
  .padding-right--xxxlarge-xs { padding-right: var(--xxxlarge); }

  .padding-bottom--0-xs {  padding-bottom: 0; }
  .padding-bottom--xxxsmall-xs { padding-bottom: var(--xxxsmall); }
  .padding-bottom--xxsmall-xs { padding-bottom: var(--xxsmall); }
  .padding-bottom--xsmall-xs {  padding-bottom: var(--xsmall); }
  .padding-bottom--small-xs  {  padding-bottom: var(--small); }
  .padding-bottom--medium-xs  {  padding-bottom: var(--medium); }
  .padding-bottom--large-xs  {  padding-bottom: var(--large); }
  .padding-bottom--xlarge-xs   {  padding-bottom: var(--xlarge); }
  .padding-bottom--xxlarge-xs  {  padding-bottom: var(--xxlarge); }
  .padding-bottom--xxxlarge-xs { padding-bottom: var(--xxxlarge); }

  .padding-top--0-xs {  padding-top: 0; }
  .padding-top--xxxsmall-xs { padding-top: var(--xxxsmall); }
  .padding-top--xxsmall-xs { padding-top: var(--xxsmall); }
  .padding-top--xsmall-xs {  padding-top: var(--xsmall); }
  .padding-top--small-xs  {  padding-top: var(--small); }
  .padding-top--medium-xs  {  padding-top: var(--medium); }
  .padding-top--large-xs  {  padding-top: var(--large); }
  .padding-top--xlarge-xs   {  padding-top: var(--xlarge); }
  .padding-top--xxlarge-xs  {  padding-top: var(--xxlarge); }
  .padding-top--xxxlarge-xs { padding-top: var(--xxxlarge); }

  .padding-vertical--0-xs {   padding-top: 0;       padding-bottom: 0; }
  .padding-vertical--xxxsmall-xs { padding-top: var(--xxxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xxsmall-xs { padding-top: var(--xxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xsmall-xs {  padding-top: var(--xsmall);  padding-bottom: var(--xsmall); }
  .padding-vertical--small-xs {   padding-top: var(--small);   padding-bottom: var(--small); }
  .padding-vertical--medium-xs {   padding-top: var(--medium);    padding-bottom: var(--medium); }
  .padding-vertical--large-xs {   padding-top: var(--large);    padding-bottom: var(--large); }
  .padding-vertical--xlarge-xs  {   padding-top: var(--xlarge);    padding-bottom: var(--xlarge); }
  .padding-vertical--xxlarge-xs  {  padding-top: var(--xxlarge);    padding-bottom: var(--xxlarge); }
  .padding-vertical--xxxlarge-xs { padding-top: var(--xxxlarge);   padding-bottom: var(--xxxlarge); }

  .padding-horizontal--0-xs {   padding-left: 0;      padding-right: 0; }
  .padding-horizontal--xxxsmall-xs {  padding-left: var(--xxxsmall); padding-right: var(--xxxsmall); }
  .padding-horizontal--xxsmall-xs {  padding-left: var(--xxsmall); padding-right: var(--xxsmall); }
  .padding-horizontal--xsmall-xs {  padding-left: var(--xsmall); padding-right: var(--xsmall); }
  .padding-horizontal--small-xs {   padding-left: var(--small);  padding-right: var(--small); }
  .padding-horizontal--medium-xs {   padding-left: var(--medium);   padding-right: var(--medium); }
  .padding-horizontal--large-xs {   padding-left: var(--large);   padding-right: var(--large); }
  .padding-horizontal--xlarge-xs  {   padding-left: var(--xlarge);   padding-right: var(--xlarge); }
  .padding-horizontal--xxlarge-xs  {  padding-left: var(--xxlarge);   padding-right: var(--xxlarge); }
  .padding-horizontal--xxxlarge-xs { padding-left: var(--xxxlarge);  padding-right: var(--xxxlarge); }

  .margin--0-xs {  margin: 0; }
  .margin--xxxsmall-xs {  margin: var(--xxxsmall); }
  .margin--xxsmall-xs {  margin: var(--xxsmall); }
  .margin--xsmall-xs {  margin: var(--xsmall); }
  .margin--small-xs  {  margin: var(--small); }
  .margin--medium-xs  {  margin: var(--medium); }
  .margin--large-xs  {  margin: var(--large); }
  .margin--xlarge-xs   {  margin: var(--xlarge); }
  .margin--xxlarge-xs  {  margin: var(--xxlarge); }
  .margin--xxxlarge-xs { margin: var(--xxxlarge); }

  .margin-left--0-xs {  margin-left: 0; }
  .margin-left--xxxsmall-xs {  margin-left: var(--xxxsmall); }
  .margin-left--xxsmall-xs {  margin-left: var(--xxsmall); }
  .margin-left--xsmall-xs {  margin-left: var(--xsmall); }
  .margin-left--small-xs  {  margin-left: var(--small); }
  .margin-left--medium-xs  {  margin-left: var(--medium); }
  .margin-left--large-xs  {  margin-left: var(--large); }
  .margin-left--xlarge-xs   {  margin-left: var(--xlarge); }
  .margin-left--xxlarge-xs  {  margin-left: var(--xxlarge); }
  .margin-left--xxxlarge-xs { margin-left: var(--xxxlarge); }

  .margin-right--0-xs {  margin-right: 0; }
  .margin-right--xxxsmall-xs {  margin-right: var(--xxxsmall); }
  .margin-right--xxsmall-xs {  margin-right: var(--xxsmall); }
  .margin-right--xsmall-xs {  margin-right: var(--xsmall); }
  .margin-right--small-xs  {  margin-right: var(--small); }
  .margin-right--medium-xs  {  margin-right: var(--medium); }
  .margin-right--large-xs  {  margin-right: var(--large); }
  .margin-right--xlarge-xs   {  margin-right: var(--xlarge); }
  .margin-right--xxlarge-xs  {  margin-right: var(--xxlarge); }
  .margin-right--xxxlarge-xs { margin-right: var(--xxxlarge); }

  .margin-bottom--0-xs {  margin-bottom: 0; }
  .margin-bottom--xxxsmall-xs {  margin-bottom: var(--xxxsmall); }
  .margin-bottom--xxsmall-xs {  margin-bottom: var(--xxsmall); }
  .margin-bottom--xsmall-xs {  margin-bottom: var(--xsmall); }
  .margin-bottom--small-xs  {  margin-bottom: var(--small); }
  .margin-bottom--medium-xs  {  margin-bottom: var(--medium); }
  .margin-bottom--large-xs  {  margin-bottom: var(--large); }
  .margin-bottom--xlarge-xs   {  margin-bottom: var(--xlarge); }
  .margin-bottom--xxlarge-xs  {  margin-bottom: var(--xxlarge); }
  .margin-bottom--xxxlarge-xs { margin-bottom: var(--xxxlarge); }

  .margin-top--0-xs {  margin-top: 0; }
  .margin-top--xxxsmall-xs {  margin-top: var(--xxxsmall); }
  .margin-top--xxsmall-xs {  margin-top: var(--xxsmall); }
  .margin-top--xsmall-xs {  margin-top: var(--xsmall); }
  .margin-top--small-xs  {  margin-top: var(--small); }
  .margin-top--medium-xs  {  margin-top: var(--medium); }
  .margin-top--large-xs  {  margin-top: var(--large); }
  .margin-top--xlarge-xs   {  margin-top: var(--xlarge); }
  .margin-top--xxlarge-xs  {  margin-top: var(--xxlarge); }
  .margin-top--xxxlarge-xs { margin-top: var(--xxxlarge); }

  .margin-vertical--0-xs  { margin-top: 0;      margin-bottom: 0; }
  .margin-vertical--xxxsmall-xs  { margin-top: var(--xxxsmall); margin-bottom: var(--xxxsmall); }
  .margin-vertical--xxsmall-xs  { margin-top: var(--xxsmall); margin-bottom: var(--xxsmall); }
  .margin-vertical--xsmall-xs  { margin-top: var(--xsmall); margin-bottom: var(--xsmall); }
  .margin-vertical--small-xs   { margin-top: var(--small);  margin-bottom: var(--small); }
  .margin-vertical--medium-xs   { margin-top: var(--medium);   margin-bottom: var(--medium); }
  .margin-vertical--large-xs   { margin-top: var(--large);   margin-bottom: var(--large); }
  .margin-vertical--xlarge-xs   { margin-top: var(--xlarge);   margin-bottom: var(--xlarge); }
  .margin-vertical--xxlarge-xs   { margin-top: var(--xxlarge);   margin-bottom: var(--xxlarge); }
  .margin-vertical--xxxlarge-xs  { margin-top: var(--xxxlarge); margin-bottom: var(--xxxlarge); }

  .margin-horizontal--0-xs  {  margin-left: 0;     margin-right: 0; }
  .margin-horizontal--xxxsmall-xs   {  margin-left: var(--xxxsmall); margin-right: var(--xxxsmall); }
  .margin-horizontal--xxsmall-xs   {  margin-left: var(--xxsmall); margin-right: var(--xxsmall); }
  .margin-horizontal--xsmall-xs   {  margin-left: var(--xsmall); margin-right: var(--xsmall); }
  .margin-horizontal--small-xs   {  margin-left: var(--small); margin-right: var(--small); }
  .margin-horizontal--medium-xs   {  margin-left: var(--medium);  margin-right: var(--medium); }
  .margin-horizontal--large-xs   {  margin-left: var(--large);  margin-right: var(--large); }
  .margin-horizontal--xlarge-xs    {  margin-left: var(--xlarge);  margin-right: var(--xlarge); }
  .margin-horizontal--xxlarge-xs   {  margin-left: var(--xxlarge);  margin-right: var(--xxlarge); }
  .margin-horizontal--xxxlarge-xs  { margin-left: var(--xxxlarge); margin-right: var(--xxxlarge); }

}

@media (--breakpoint-small) {

  .padding--0-s {  padding: 0; }
  .padding--xxxsmall-s { padding: var(--xxxsmall); }
  .padding--xxsmall-s { padding: var(--xxsmall); }
  .padding--xsmall-s {  padding: var(--xsmall); }
  .padding--small-s  {  padding: var(--small); }
  .padding--medium-s  {  padding: var(--medium); }
  .padding--large-s  {  padding: var(--large); }
  .padding--xlarge-s   {  padding: var(--xlarge); }
  .padding--xxlarge-s  {  padding: var(--xxlarge); }
  .padding--xxxlarge-s { padding: var(--xxxlarge); }

  .padding-left--0-s {  padding-left: 0; }
  .padding-left--xxxsmall-s { padding-left: var(--xxxsmall); }
  .padding-left--xxsmall-s { padding-left: var(--xxsmall); }
  .padding-left--xsmall-s {  padding-left: var(--xsmall); }
  .padding-left--small-s  {  padding-left: var(--small); }
  .padding-left--medium-s  {  padding-left: var(--medium); }
  .padding-left--large-s  {  padding-left: var(--large); }
  .padding-left--xlarge-s   {  padding-left: var(--xlarge); }
  .padding-left--xxlarge-s  {  padding-left: var(--xxlarge); }
  .padding-left--xxxlarge-s { padding-left: var(--xxxlarge); }

  .padding-right--0-s {  padding-right: 0; }
  .padding-right--xxxsmall-s { padding-right: var(--xxxsmall); }
  .padding-right--xxsmall-s { padding-right: var(--xxsmall); }
  .padding-right--xsmall-s {  padding-right: var(--xsmall); }
  .padding-right--small-s  {  padding-right: var(--small); }
  .padding-right--medium-s  {  padding-right: var(--medium); }
  .padding-right--large-s  {  padding-right: var(--large); }
  .padding-right--xlarge-s   {  padding-right: var(--xlarge); }
  .padding-right--xxlarge-s  {  padding-right: var(--xxlarge); }
  .padding-right--xxxlarge-s { padding-right: var(--xxxlarge); }

  .padding-bottom--0-s {  padding-bottom: 0; }
  .padding-bottom--xxxsmall-s { padding-bottom: var(--xxxsmall); }
  .padding-bottom--xxsmall-s { padding-bottom: var(--xxsmall); }
  .padding-bottom--xsmall-s {  padding-bottom: var(--xsmall); }
  .padding-bottom--small-s  {  padding-bottom: var(--small); }
  .padding-bottom--medium-s  {  padding-bottom: var(--medium); }
  .padding-bottom--large-s  {  padding-bottom: var(--large); }
  .padding-bottom--xlarge-s   {  padding-bottom: var(--xlarge); }
  .padding-bottom--xxlarge-s  {  padding-bottom: var(--xxlarge); }
  .padding-bottom--xxxlarge-s { padding-bottom: var(--xxxlarge); }

  .padding-top--0-s {  padding-top: 0; }
  .padding-top--xxxsmall-s { padding-top: var(--xxxsmall); }
  .padding-top--xxsmall-s { padding-top: var(--xxsmall); }
  .padding-top--xsmall-s {  padding-top: var(--xsmall); }
  .padding-top--small-s  {  padding-top: var(--small); }
  .padding-top--medium-s  {  padding-top: var(--medium); }
  .padding-top--large-s  {  padding-top: var(--large); }
  .padding-top--xlarge-s   {  padding-top: var(--xlarge); }
  .padding-top--xxlarge-s  {  padding-top: var(--xxlarge); }
  .padding-top--xxxlarge-s { padding-top: var(--xxxlarge); }

  .padding-vertical--0-s {   padding-top: 0;       padding-bottom: 0; }
  .padding-vertical--xxxsmall-s { padding-top: var(--xxxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xxsmall-s { padding-top: var(--xxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xsmall-s {  padding-top: var(--xsmall);  padding-bottom: var(--xsmall); }
  .padding-vertical--small-s {   padding-top: var(--small);   padding-bottom: var(--small); }
  .padding-vertical--medium-s {   padding-top: var(--medium);    padding-bottom: var(--medium); }
  .padding-vertical--large-s {   padding-top: var(--large);    padding-bottom: var(--large); }
  .padding-vertical--xlarge-s  {   padding-top: var(--xlarge);    padding-bottom: var(--xlarge); }
  .padding-vertical--xxlarge-s  {  padding-top: var(--xxlarge);    padding-bottom: var(--xxlarge); }
  .padding-vertical--xxxlarge-s { padding-top: var(--xxxlarge);   padding-bottom: var(--xxxlarge); }

  .padding-horizontal--0-s {   padding-left: 0;      padding-right: 0; }
  .padding-horizontal--xxxsmall-s {  padding-left: var(--xxxsmall); padding-right: var(--xxxsmall); }
  .padding-horizontal--xxsmall-s {  padding-left: var(--xxsmall); padding-right: var(--xxsmall); }
  .padding-horizontal--xsmall-s {  padding-left: var(--xsmall); padding-right: var(--xsmall); }
  .padding-horizontal--small-s {   padding-left: var(--small);  padding-right: var(--small); }
  .padding-horizontal--medium-s {   padding-left: var(--medium);   padding-right: var(--medium); }
  .padding-horizontal--large-s {   padding-left: var(--large);   padding-right: var(--large); }
  .padding-horizontal--xlarge-s  {   padding-left: var(--xlarge);   padding-right: var(--xlarge); }
  .padding-horizontal--xxlarge-s  {  padding-left: var(--xxlarge);   padding-right: var(--xxlarge); }
  .padding-horizontal--xxxlarge-s { padding-left: var(--xxxlarge);  padding-right: var(--xxxlarge); }

  .margin--0-s {  margin: 0; }
  .margin--xxxsmall-s {  margin: var(--xxxsmall); }
  .margin--xxsmall-s {  margin: var(--xxsmall); }
  .margin--xsmall-s {  margin: var(--xsmall); }
  .margin--small-s  {  margin: var(--small); }
  .margin--medium-s  {  margin: var(--medium); }
  .margin--large-s  {  margin: var(--large); }
  .margin--xlarge-s   {  margin: var(--xlarge); }
  .margin--xxlarge-s  {  margin: var(--xxlarge); }
  .margin--xxxlarge-s { margin: var(--xxxlarge); }

  .margin-left--0-s {  margin-left: 0; }
  .margin-left--xxxsmall-s {  margin-left: var(--xxxsmall); }
  .margin-left--xxsmall-s {  margin-left: var(--xxsmall); }
  .margin-left--xsmall-s {  margin-left: var(--xsmall); }
  .margin-left--small-s  {  margin-left: var(--small); }
  .margin-left--medium-s  {  margin-left: var(--medium); }
  .margin-left--large-s  {  margin-left: var(--large); }
  .margin-left--xlarge-s   {  margin-left: var(--xlarge); }
  .margin-left--xxlarge-s  {  margin-left: var(--xxlarge); }
  .margin-left--xxxlarge-s { margin-left: var(--xxxlarge); }

  .margin-right--0-s {  margin-right: 0; }
  .margin-right--xxxsmall-s {  margin-right: var(--xxxsmall); }
  .margin-right--xxsmall-s {  margin-right: var(--xxsmall); }
  .margin-right--xsmall-s {  margin-right: var(--xsmall); }
  .margin-right--small-s  {  margin-right: var(--small); }
  .margin-right--medium-s  {  margin-right: var(--medium); }
  .margin-right--large-s  {  margin-right: var(--large); }
  .margin-right--xlarge-s   {  margin-right: var(--xlarge); }
  .margin-right--xxlarge-s  {  margin-right: var(--xxlarge); }
  .margin-right--xxxlarge-s { margin-right: var(--xxxlarge); }

  .margin-bottom--0-s {  margin-bottom: 0; }
  .margin-bottom--xxxsmall-s {  margin-bottom: var(--xxxsmall); }
  .margin-bottom--xxsmall-s {  margin-bottom: var(--xxsmall); }
  .margin-bottom--xsmall-s {  margin-bottom: var(--xsmall); }
  .margin-bottom--small-s  {  margin-bottom: var(--small); }
  .margin-bottom--medium-s  {  margin-bottom: var(--medium); }
  .margin-bottom--large-s  {  margin-bottom: var(--large); }
  .margin-bottom--xlarge-s   {  margin-bottom: var(--xlarge); }
  .margin-bottom--xxlarge-s  {  margin-bottom: var(--xxlarge); }
  .margin-bottom--xxxlarge-s { margin-bottom: var(--xxxlarge); }

  .margin-top--0-s {  margin-top: 0; }
  .margin-top--xxxsmall-s {  margin-top: var(--xxxsmall); }
  .margin-top--xxsmall-s {  margin-top: var(--xxsmall); }
  .margin-top--xsmall-s {  margin-top: var(--xsmall); }
  .margin-top--small-s  {  margin-top: var(--small); }
  .margin-top--medium-s  {  margin-top: var(--medium); }
  .margin-top--large-s  {  margin-top: var(--large); }
  .margin-top--xlarge-s   {  margin-top: var(--xlarge); }
  .margin-top--xxlarge-s  {  margin-top: var(--xxlarge); }
  .margin-top--xxxlarge-s { margin-top: var(--xxxlarge); }

  .margin-vertical--0-s  { margin-top: 0;      margin-bottom: 0; }
  .margin-vertical--xxxsmall-s  { margin-top: var(--xxxsmall); margin-bottom: var(--xxxsmall); }
  .margin-vertical--xxsmall-s  { margin-top: var(--xxsmall); margin-bottom: var(--xxsmall); }
  .margin-vertical--xsmall-s  { margin-top: var(--xsmall); margin-bottom: var(--xsmall); }
  .margin-vertical--small-s   { margin-top: var(--small);  margin-bottom: var(--small); }
  .margin-vertical--medium-s   { margin-top: var(--medium);   margin-bottom: var(--medium); }
  .margin-vertical--large-s   { margin-top: var(--large);   margin-bottom: var(--large); }
  .margin-vertical--xlarge-s   { margin-top: var(--xlarge);   margin-bottom: var(--xlarge); }
  .margin-vertical--xxlarge-s   { margin-top: var(--xxlarge);   margin-bottom: var(--xxlarge); }
  .margin-vertical--xxxlarge-s  { margin-top: var(--xxxlarge); margin-bottom: var(--xxxlarge); }

  .margin-horizontal--0-s  {  margin-left: 0;     margin-right: 0; }
  .margin-horizontal--xxxsmall-s   {  margin-left: var(--xxxsmall); margin-right: var(--xxxsmall); }
  .margin-horizontal--xxsmall-s   {  margin-left: var(--xxsmall); margin-right: var(--xxsmall); }
  .margin-horizontal--xsmall-s   {  margin-left: var(--xsmall); margin-right: var(--xsmall); }
  .margin-horizontal--small-s   {  margin-left: var(--small); margin-right: var(--small); }
  .margin-horizontal--medium-s   {  margin-left: var(--medium);  margin-right: var(--medium); }
  .margin-horizontal--large-s   {  margin-left: var(--large);  margin-right: var(--large); }
  .margin-horizontal--xlarge-s    {  margin-left: var(--xlarge);  margin-right: var(--xlarge); }
  .margin-horizontal--xxlarge-s   {  margin-left: var(--xxlarge);  margin-right: var(--xxlarge); }
  .margin-horizontal--xxxlarge-s  { margin-left: var(--xxxlarge); margin-right: var(--xxxlarge); }

}

@media (--breakpoint-medium) {

  .padding--0-m {  padding: 0; }
  .padding--xxxsmall-m { padding: var(--xxxsmall); }
  .padding--xxsmall-m { padding: var(--xxsmall); }
  .padding--xsmall-m {  padding: var(--xsmall); }
  .padding--small-m  {  padding: var(--small); }
  .padding--medium-m  {  padding: var(--medium); }
  .padding--large-m  {  padding: var(--large); }
  .padding--xlarge-m   {  padding: var(--xlarge); }
  .padding--xxlarge-m  {  padding: var(--xxlarge); }
  .padding--xxxlarge-m { padding: var(--xxxlarge); }

  .padding-left--0-m {  padding-left: 0; }
  .padding-left--xxxsmall-m { padding-left: var(--xxxsmall); }
  .padding-left--xxsmall-m { padding-left: var(--xxsmall); }
  .padding-left--xsmall-m {  padding-left: var(--xsmall); }
  .padding-left--small-m  {  padding-left: var(--small); }
  .padding-left--medium-m  {  padding-left: var(--medium); }
  .padding-left--large-m  {  padding-left: var(--large); }
  .padding-left--xlarge-m   {  padding-left: var(--xlarge); }
  .padding-left--xxlarge-m  {  padding-left: var(--xxlarge); }
  .padding-left--xxxlarge-m { padding-left: var(--xxxlarge); }

  .padding-right--0-m {  padding-right: 0; }
  .padding-right--xxxsmall-m { padding-right: var(--xxxsmall); }
  .padding-right--xxsmall-m { padding-right: var(--xxsmall); }
  .padding-right--xsmall-m {  padding-right: var(--xsmall); }
  .padding-right--small-m  {  padding-right: var(--small); }
  .padding-right--medium-m  {  padding-right: var(--medium); }
  .padding-right--large-m  {  padding-right: var(--large); }
  .padding-right--xlarge-m   {  padding-right: var(--xlarge); }
  .padding-right--xxlarge-m  {  padding-right: var(--xxlarge); }
  .padding-right--xxxlarge-m { padding-right: var(--xxxlarge); }

  .padding-bottom--0-m {  padding-bottom: 0; }
  .padding-bottom--xxxsmall-m { padding-bottom: var(--xxxsmall); }
  .padding-bottom--xxsmall-m { padding-bottom: var(--xxsmall); }
  .padding-bottom--xsmall-m {  padding-bottom: var(--xsmall); }
  .padding-bottom--small-m  {  padding-bottom: var(--small); }
  .padding-bottom--medium-m  {  padding-bottom: var(--medium); }
  .padding-bottom--large-m  {  padding-bottom: var(--large); }
  .padding-bottom--xlarge-m   {  padding-bottom: var(--xlarge); }
  .padding-bottom--xxlarge-m  {  padding-bottom: var(--xxlarge); }
  .padding-bottom--xxxlarge-m { padding-bottom: var(--xxxlarge); }

  .padding-top--0-m {  padding-top: 0; }
  .padding-top--xxxsmall-m { padding-top: var(--xxxsmall); }
  .padding-top--xxsmall-m { padding-top: var(--xxsmall); }
  .padding-top--xsmall-m {  padding-top: var(--xsmall); }
  .padding-top--small-m  {  padding-top: var(--small); }
  .padding-top--medium-m  {  padding-top: var(--medium); }
  .padding-top--large-m  {  padding-top: var(--large); }
  .padding-top--xlarge-m   {  padding-top: var(--xlarge); }
  .padding-top--xxlarge-m  {  padding-top: var(--xxlarge); }
  .padding-top--xxxlarge-m { padding-top: var(--xxxlarge); }

  .padding-vertical--0-m {   padding-top: 0;       padding-bottom: 0; }
  .padding-vertical--xxxsmall-m { padding-top: var(--xxxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xxsmall-m { padding-top: var(--xxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xsmall-m {  padding-top: var(--xsmall);  padding-bottom: var(--xsmall); }
  .padding-vertical--small-m {   padding-top: var(--small);   padding-bottom: var(--small); }
  .padding-vertical--medium-m {   padding-top: var(--medium);    padding-bottom: var(--medium); }
  .padding-vertical--large-m {   padding-top: var(--large);    padding-bottom: var(--large); }
  .padding-vertical--xlarge-m  {   padding-top: var(--xlarge);    padding-bottom: var(--xlarge); }
  .padding-vertical--xxlarge-m  {  padding-top: var(--xxlarge);    padding-bottom: var(--xxlarge); }
  .padding-vertical--xxxlarge-m { padding-top: var(--xxxlarge);   padding-bottom: var(--xxxlarge); }

  .padding-horizontal--0-m {   padding-left: 0;      padding-right: 0; }
  .padding-horizontal--xxxsmall-m {  padding-left: var(--xxxsmall); padding-right: var(--xxxsmall); }
  .padding-horizontal--xxsmall-m {  padding-left: var(--xxsmall); padding-right: var(--xxsmall); }
  .padding-horizontal--xsmall-m {  padding-left: var(--xsmall); padding-right: var(--xsmall); }
  .padding-horizontal--small-m {   padding-left: var(--small);  padding-right: var(--small); }
  .padding-horizontal--medium-m {   padding-left: var(--medium);   padding-right: var(--medium); }
  .padding-horizontal--large-m {   padding-left: var(--large);   padding-right: var(--large); }
  .padding-horizontal--xlarge-m  {   padding-left: var(--xlarge);   padding-right: var(--xlarge); }
  .padding-horizontal--xxlarge-m  {  padding-left: var(--xxlarge);   padding-right: var(--xxlarge); }
  .padding-horizontal--xxxlarge-m { padding-left: var(--xxxlarge);  padding-right: var(--xxxlarge); }

  .margin--0-m {  margin: 0; }
  .margin--xxxsmall-m {  margin: var(--xxxsmall); }
  .margin--xxsmall-m {  margin: var(--xxsmall); }
  .margin--xsmall-m {  margin: var(--xsmall); }
  .margin--small-m  {  margin: var(--small); }
  .margin--medium-m  {  margin: var(--medium); }
  .margin--large-m  {  margin: var(--large); }
  .margin--xlarge-m   {  margin: var(--xlarge); }
  .margin--xxlarge-m  {  margin: var(--xxlarge); }
  .margin--xxxlarge-m { margin: var(--xxxlarge); }

  .margin-left--0-m {  margin-left: 0; }
  .margin-left--xxxsmall-m {  margin-left: var(--xxxsmall); }
  .margin-left--xxsmall-m {  margin-left: var(--xxsmall); }
  .margin-left--xsmall-m {  margin-left: var(--xsmall); }
  .margin-left--small-m  {  margin-left: var(--small); }
  .margin-left--medium-m  {  margin-left: var(--medium); }
  .margin-left--large-m  {  margin-left: var(--large); }
  .margin-left--xlarge-m   {  margin-left: var(--xlarge); }
  .margin-left--xxlarge-m  {  margin-left: var(--xxlarge); }
  .margin-left--xxxlarge-m { margin-left: var(--xxxlarge); }

  .margin-right--0-m {  margin-right: 0; }
  .margin-right--xxxsmall-m {  margin-right: var(--xxxsmall); }
  .margin-right--xxsmall-m {  margin-right: var(--xxsmall); }
  .margin-right--xsmall-m {  margin-right: var(--xsmall); }
  .margin-right--small-m  {  margin-right: var(--small); }
  .margin-right--medium-m  {  margin-right: var(--medium); }
  .margin-right--large-m  {  margin-right: var(--large); }
  .margin-right--xlarge-m   {  margin-right: var(--xlarge); }
  .margin-right--xxlarge-m  {  margin-right: var(--xxlarge); }
  .margin-right--xxxlarge-m { margin-right: var(--xxxlarge); }

  .margin-bottom--0-m {  margin-bottom: 0; }
  .margin-bottom--xxxsmall-m {  margin-bottom: var(--xxxsmall); }
  .margin-bottom--xxsmall-m {  margin-bottom: var(--xxsmall); }
  .margin-bottom--xsmall-m {  margin-bottom: var(--xsmall); }
  .margin-bottom--small-m  {  margin-bottom: var(--small); }
  .margin-bottom--medium-m  {  margin-bottom: var(--medium); }
  .margin-bottom--large-m  {  margin-bottom: var(--large); }
  .margin-bottom--xlarge-m   {  margin-bottom: var(--xlarge); }
  .margin-bottom--xxlarge-m  {  margin-bottom: var(--xxlarge); }
  .margin-bottom--xxxlarge-m { margin-bottom: var(--xxxlarge); }

  .margin-top--0-m {  margin-top: 0; }
  .margin-top--xxxsmall-m {  margin-top: var(--xxxsmall); }
  .margin-top--xxsmall-m {  margin-top: var(--xxsmall); }
  .margin-top--xsmall-m {  margin-top: var(--xsmall); }
  .margin-top--small-m  {  margin-top: var(--small); }
  .margin-top--medium-m  {  margin-top: var(--medium); }
  .margin-top--large-m  {  margin-top: var(--large); }
  .margin-top--xlarge-m   {  margin-top: var(--xlarge); }
  .margin-top--xxlarge-m  {  margin-top: var(--xxlarge); }
  .margin-top--xxxlarge-m { margin-top: var(--xxxlarge); }

  .margin-vertical--0-m  { margin-top: 0;      margin-bottom: 0; }
  .margin-vertical--xxxsmall-m  { margin-top: var(--xxxsmall); margin-bottom: var(--xxxsmall); }
  .margin-vertical--xxsmall-m  { margin-top: var(--xxsmall); margin-bottom: var(--xxsmall); }
  .margin-vertical--xsmall-m  { margin-top: var(--xsmall); margin-bottom: var(--xsmall); }
  .margin-vertical--small-m   { margin-top: var(--small);  margin-bottom: var(--small); }
  .margin-vertical--medium-m   { margin-top: var(--medium);   margin-bottom: var(--medium); }
  .margin-vertical--large-m   { margin-top: var(--large);   margin-bottom: var(--large); }
  .margin-vertical--xlarge-m   { margin-top: var(--xlarge);   margin-bottom: var(--xlarge); }
  .margin-vertical--xxlarge-m   { margin-top: var(--xxlarge);   margin-bottom: var(--xxlarge); }
  .margin-vertical--xxxlarge-m  { margin-top: var(--xxxlarge); margin-bottom: var(--xxxlarge); }

  .margin-horizontal--0-m  {  margin-left: 0;     margin-right: 0; }
  .margin-horizontal--xxxsmall-m   {  margin-left: var(--xxxsmall); margin-right: var(--xxxsmall); }
  .margin-horizontal--xxsmall-m   {  margin-left: var(--xxsmall); margin-right: var(--xxsmall); }
  .margin-horizontal--xsmall-m   {  margin-left: var(--xsmall); margin-right: var(--xsmall); }
  .margin-horizontal--small-m   {  margin-left: var(--small); margin-right: var(--small); }
  .margin-horizontal--medium-m   {  margin-left: var(--medium);  margin-right: var(--medium); }
  .margin-horizontal--large-m   {  margin-left: var(--large);  margin-right: var(--large); }
  .margin-horizontal--xlarge-m    {  margin-left: var(--xlarge);  margin-right: var(--xlarge); }
  .margin-horizontal--xxlarge-m   {  margin-left: var(--xxlarge);  margin-right: var(--xxlarge); }
  .margin-horizontal--xxxlarge-m  { margin-left: var(--xxxlarge); margin-right: var(--xxxlarge); }

}

@media (--breakpoint-large) {

  .padding--0-l {  padding: 0; }
  .padding--xxxsmall-l { padding: var(--xxxsmall); }
  .padding--xxsmall-l { padding: var(--xxsmall); }
  .padding--xsmall-l {  padding: var(--xsmall); }
  .padding--small-l  {  padding: var(--small); }
  .padding--medium-l  {  padding: var(--medium); }
  .padding--large-l  {  padding: var(--large); }
  .padding--xlarge-l   {  padding: var(--xlarge); }
  .padding--xxlarge-l  {  padding: var(--xxlarge); }
  .padding--xxxlarge-l { padding: var(--xxxlarge); }

  .padding-left--0-l {  padding-left: 0; }
  .padding-left--xxxsmall-l { padding-left: var(--xxxsmall); }
  .padding-left--xxsmall-l { padding-left: var(--xxsmall); }
  .padding-left--xsmall-l {  padding-left: var(--xsmall); }
  .padding-left--small-l  {  padding-left: var(--small); }
  .padding-left--medium-l  {  padding-left: var(--medium); }
  .padding-left--large-l  {  padding-left: var(--large); }
  .padding-left--xlarge-l   {  padding-left: var(--xlarge); }
  .padding-left--xxlarge-l  {  padding-left: var(--xxlarge); }
  .padding-left--xxxlarge-l { padding-left: var(--xxxlarge); }

  .padding-right--0-l {  padding-right: 0; }
  .padding-right--xxxsmall-l { padding-right: var(--xxxsmall); }
  .padding-right--xxsmall-l { padding-right: var(--xxsmall); }
  .padding-right--xsmall-l {  padding-right: var(--xsmall); }
  .padding-right--small-l  {  padding-right: var(--small); }
  .padding-right--medium-l  {  padding-right: var(--medium); }
  .padding-right--large-l  {  padding-right: var(--large); }
  .padding-right--xlarge-l   {  padding-right: var(--xlarge); }
  .padding-right--xxlarge-l  {  padding-right: var(--xxlarge); }
  .padding-right--xxxlarge-l { padding-right: var(--xxxlarge); }

  .padding-bottom--0-l {  padding-bottom: 0; }
  .padding-bottom--xxxsmall-l { padding-bottom: var(--xxxsmall); }
  .padding-bottom--xxsmall-l { padding-bottom: var(--xxsmall); }
  .padding-bottom--xsmall-l {  padding-bottom: var(--xsmall); }
  .padding-bottom--small-l  {  padding-bottom: var(--small); }
  .padding-bottom--medium-l  {  padding-bottom: var(--medium); }
  .padding-bottom--large-l  {  padding-bottom: var(--large); }
  .padding-bottom--xlarge-l   {  padding-bottom: var(--xlarge); }
  .padding-bottom--xxlarge-l  {  padding-bottom: var(--xxlarge); }
  .padding-bottom--xxxlarge-l { padding-bottom: var(--xxxlarge); }

  .padding-top--0-l {  padding-top: 0; }
  .padding-top--xxxsmall-l { padding-top: var(--xxxsmall); }
  .padding-top--xxsmall-l { padding-top: var(--xxsmall); }
  .padding-top--xsmall-l {  padding-top: var(--xsmall); }
  .padding-top--small-l  {  padding-top: var(--small); }
  .padding-top--medium-l  {  padding-top: var(--medium); }
  .padding-top--large-l  {  padding-top: var(--large); }
  .padding-top--xlarge-l   {  padding-top: var(--xlarge); }
  .padding-top--xxlarge-l  {  padding-top: var(--xxlarge); }
  .padding-top--xxxlarge-l { padding-top: var(--xxxlarge); }

  .padding-vertical--0-l {   padding-top: 0;       padding-bottom: 0; }
  .padding-vertical--xxxsmall-l { padding-top: var(--xxxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xxsmall-l { padding-top: var(--xxsmall); padding-bottom: var(--xxxsmall); }
  .padding-vertical--xsmall-l {  padding-top: var(--xsmall);  padding-bottom: var(--xsmall); }
  .padding-vertical--small-l {   padding-top: var(--small);   padding-bottom: var(--small); }
  .padding-vertical--medium-l {   padding-top: var(--medium);    padding-bottom: var(--medium); }
  .padding-vertical--large-l {   padding-top: var(--large);    padding-bottom: var(--large); }
  .padding-vertical--xlarge-l  {   padding-top: var(--xlarge);    padding-bottom: var(--xlarge); }
  .padding-vertical--xxlarge-l  {  padding-top: var(--xxlarge);    padding-bottom: var(--xxlarge); }
  .padding-vertical--xxxlarge-l { padding-top: var(--xxxlarge);   padding-bottom: var(--xxxlarge); }

  .padding-horizontal--0-l {   padding-left: 0;      padding-right: 0; }
  .padding-horizontal--xxxsmall-l {  padding-left: var(--xxxsmall); padding-right: var(--xxxsmall); }
  .padding-horizontal--xxsmall-l {  padding-left: var(--xxsmall); padding-right: var(--xxsmall); }
  .padding-horizontal--xsmall-l {  padding-left: var(--xsmall); padding-right: var(--xsmall); }
  .padding-horizontal--small-l {   padding-left: var(--small);  padding-right: var(--small); }
  .padding-horizontal--medium-l {   padding-left: var(--medium);   padding-right: var(--medium); }
  .padding-horizontal--large-l {   padding-left: var(--large);   padding-right: var(--large); }
  .padding-horizontal--xlarge-l  {   padding-left: var(--xlarge);   padding-right: var(--xlarge); }
  .padding-horizontal--xxlarge-l  {  padding-left: var(--xxlarge);   padding-right: var(--xxlarge); }
  .padding-horizontal--xxxlarge-l { padding-left: var(--xxxlarge);  padding-right: var(--xxxlarge); }

  .margin--0-l {  margin: 0; }
  .margin--xxxsmall-l {  margin: var(--xxxsmall); }
  .margin--xxsmall-l {  margin: var(--xxsmall); }
  .margin--xsmall-l {  margin: var(--xsmall); }
  .margin--small-l  {  margin: var(--small); }
  .margin--medium-l  {  margin: var(--medium); }
  .margin--large-l  {  margin: var(--large); }
  .margin--xlarge-l   {  margin: var(--xlarge); }
  .margin--xxlarge-l  {  margin: var(--xxlarge); }
  .margin--xxxlarge-l { margin: var(--xxxlarge); }

  .margin-left--0-l {  margin-left: 0; }
  .margin-left--xxxsmall-l {  margin-left: var(--xxxsmall); }
  .margin-left--xxsmall-l {  margin-left: var(--xxsmall); }
  .margin-left--xsmall-l {  margin-left: var(--xsmall); }
  .margin-left--small-l  {  margin-left: var(--small); }
  .margin-left--medium-l  {  margin-left: var(--medium); }
  .margin-left--large-l  {  margin-left: var(--large); }
  .margin-left--xlarge-l   {  margin-left: var(--xlarge); }
  .margin-left--xxlarge-l  {  margin-left: var(--xxlarge); }
  .margin-left--xxxlarge-l { margin-left: var(--xxxlarge); }

  .margin-right--0-l {  margin-right: 0; }
  .margin-right--xxxsmall-l {  margin-right: var(--xxxsmall); }
  .margin-right--xxsmall-l {  margin-right: var(--xxsmall); }
  .margin-right--xsmall-l {  margin-right: var(--xsmall); }
  .margin-right--small-l  {  margin-right: var(--small); }
  .margin-right--medium-l  {  margin-right: var(--medium); }
  .margin-right--large-l  {  margin-right: var(--large); }
  .margin-right--xlarge-l   {  margin-right: var(--xlarge); }
  .margin-right--xxlarge-l  {  margin-right: var(--xxlarge); }
  .margin-right--xxxlarge-l { margin-right: var(--xxxlarge); }

  .margin-bottom--0-l {  margin-bottom: 0; }
  .margin-bottom--xxxsmall-l {  margin-bottom: var(--xxxsmall); }
  .margin-bottom--xxsmall-l {  margin-bottom: var(--xxsmall); }
  .margin-bottom--xsmall-l {  margin-bottom: var(--xsmall); }
  .margin-bottom--small-l  {  margin-bottom: var(--small); }
  .margin-bottom--medium-l  {  margin-bottom: var(--medium); }
  .margin-bottom--large-l  {  margin-bottom: var(--large); }
  .margin-bottom--xlarge-l   {  margin-bottom: var(--xlarge); }
  .margin-bottom--xxlarge-l  {  margin-bottom: var(--xxlarge); }
  .margin-bottom--xxxlarge-l { margin-bottom: var(--xxxlarge); }

  .margin-top--0-l {  margin-top: 0; }
  .margin-top--xxxsmall-l {  margin-top: var(--xxxsmall); }
  .margin-top--xxsmall-l {  margin-top: var(--xxsmall); }
  .margin-top--xsmall-l {  margin-top: var(--xsmall); }
  .margin-top--small-l  {  margin-top: var(--small); }
  .margin-top--medium-l  {  margin-top: var(--medium); }
  .margin-top--large-l  {  margin-top: var(--large); }
  .margin-top--xlarge-l   {  margin-top: var(--xlarge); }
  .margin-top--xxlarge-l  {  margin-top: var(--xxlarge); }
  .margin-top--xxxlarge-l { margin-top: var(--xxxlarge); }

  .margin-vertical--0-l  { margin-top: 0;      margin-bottom: 0; }
  .margin-vertical--xxxsmall-l  { margin-top: var(--xxxsmall); margin-bottom: var(--xxxsmall); }
  .margin-vertical--xxsmall-l  { margin-top: var(--xxsmall); margin-bottom: var(--xxsmall); }
  .margin-vertical--xsmall-l  { margin-top: var(--xsmall); margin-bottom: var(--xsmall); }
  .margin-vertical--small-l   { margin-top: var(--small);  margin-bottom: var(--small); }
  .margin-vertical--medium-l   { margin-top: var(--medium);   margin-bottom: var(--medium); }
  .margin-vertical--large-l   { margin-top: var(--large);   margin-bottom: var(--large); }
  .margin-vertical--xlarge-l   { margin-top: var(--xlarge);   margin-bottom: var(--xlarge); }
  .margin-vertical--xxlarge-l   { margin-top: var(--xxlarge);   margin-bottom: var(--xxlarge); }
  .margin-vertical--xxxlarge-l  { margin-top: var(--xxxlarge); margin-bottom: var(--xxxlarge); }

  .margin-horizontal--0-l  {  margin-left: 0;     margin-right: 0; }
  .margin-horizontal--xxxsmall-l   {  margin-left: var(--xxxsmall); margin-right: var(--xxxsmall); }
  .margin-horizontal--xxsmall-l   {  margin-left: var(--xxsmall); margin-right: var(--xxsmall); }
  .margin-horizontal--xsmall-l   {  margin-left: var(--xsmall); margin-right: var(--xsmall); }
  .margin-horizontal--small-l   {  margin-left: var(--small); margin-right: var(--small); }
  .margin-horizontal--medium-l   {  margin-left: var(--medium);  margin-right: var(--medium); }
  .margin-horizontal--large-l   {  margin-left: var(--large);  margin-right: var(--large); }
  .margin-horizontal--xlarge-l    {  margin-left: var(--xlarge);  margin-right: var(--xlarge); }
  .margin-horizontal--xxlarge-l   {  margin-left: var(--xxlarge);  margin-right: var(--xxlarge); }
  .margin-horizontal--xxxlarge-l  { margin-left: var(--xxxlarge); margin-right: var(--xxxlarge); }

}