

@media (--breakpoint-extra-small) {
  .text-align--left-xs  { text-align: left; }
  .text-align--right-xs  { text-align: right; }
  .text-align--center-xs  { text-align: center; }
}

@media (--breakpoint-small) {
  .text-align--left-s  { text-align: left; }
  .text-align--right-s  { text-align: right; }
  .text-align--center-s  { text-align: center; }
}

@media (--breakpoint-medium) {
  .text-align--left-m  { text-align: left; }
  .text-align--right-m  { text-align: right; }
  .text-align--center-m  { text-align: center; }
}

@media (--breakpoint-large) {
  .text-align--left-l  { text-align: left; }
  .text-align--right-l  { text-align: right; }
  .text-align--center-l  { text-align: center; }
}

