

@media (--breakpoint-extra-small) {
  .text-transform--capitalize-xs { text-transform: capitalize; }
  .text-transform--lowercase-xs { text-transform: lowercase; }
  .text-transform--uppercase-xs { text-transform: uppercase; }
  .text-transform--none-xs { text-transform: none; }
}

@media (--breakpoint-small) {
  .text-transform--capitalize-s { text-transform: capitalize; }
  .text-transform--lowercase-s { text-transform: lowercase; }
  .text-transform--uppercase-s { text-transform: uppercase; }
  .text-transform--none-s { text-transform: none; }
}

@media (--breakpoint-medium) {
  .text-transform--capitalize-m { text-transform: capitalize; }
  .text-transform--lowercase-m { text-transform: lowercase; }
  .text-transform--uppercase-m { text-transform: uppercase; }
  .text-transform--none-m { text-transform: none; }
}

@media (--breakpoint-large) {
  .text-transform--capitalize-l { text-transform: capitalize; }
  .text-transform--lowercase-l { text-transform: lowercase; }
  .text-transform--uppercase-l { text-transform: uppercase; }
  .text-transform--none-l { text-transform: none; }
}
