

@media (--breakpoint-extra-small) {
  .text-decoration--line-through-xs { text-decoration: line-through; }
  .text-decoration--underline-xs {    text-decoration: underline; }
  .text-decoration--none-xs {         text-decoration: none; }
}

@media (--breakpoint-not-small) {
  .text-decoration--line-through-ns { text-decoration: line-through; }
  .text-decoration--underline-ns {    text-decoration: underline; }
  .text-decoration--none-ns {         text-decoration: none; }
}

@media (--breakpoint-medium) {
  .text-decoration--line-through-m {  text-decoration: line-through; }
  .text-decoration--underline-m {     text-decoration: underline; }
  .text-decoration--none-m {          text-decoration: none; }
}

@media (--breakpoint-large) {
  .text-decoration--line-through-l {  text-decoration: line-through; }
  .text-decoration--underline-l {     text-decoration: underline; }
  .text-decoration--none-l {          text-decoration: none; }
}

@media (--breakpoint-extra-large) {
  .text-decoration--line-through-xl {  text-decoration: line-through; }
  .text-decoration--underline-xl {     text-decoration: underline; }
  .text-decoration--none-xl {          text-decoration: none; }
}