

@media (--breakpoint-extra-small) {
  .f0-xs { font-size: 6rem; }
  .f1-xs { font-size: 3rem; }
  .f2-xs { font-size: 2.25rem; }
  .f3-xs { font-size: 1.5rem; }
  .f4-xs { font-size: 1.25rem; }
  .f5-xs { font-size: 1rem; }
  .f6-xs { font-size: .875rem; }
  .f7-xs { font-size: .75rem; }
}

@media (--breakpoint-small) {
  .f0-s { font-size: 6rem; }
  .f1-s { font-size: 3rem; }
  .f2-s { font-size: 2.25rem; }
  .f3-s { font-size: 1.5rem; }
  .f4-s { font-size: 1.25rem; }
  .f5-s { font-size: 1rem; }
  .f6-s { font-size: .875rem; }
  .f7-s { font-size: .75rem; }
}

@media (--breakpoint-medium) {
  .f0-m { font-size: 6rem; }
  .f1-m { font-size: 3rem; }
  .f2-m { font-size: 2.25rem; }
  .f3-m { font-size: 1.5rem; }
  .f4-m { font-size: 1.25rem; }
  .f5-m { font-size: 1rem; }
  .f6-m { font-size: .875rem; }
  .f7-m { font-size: .75rem; }
}

@media (--breakpoint-large) {
  .f0-l { font-size: 6rem; }
  .f1-l { font-size: 3rem; }
  .f2-l { font-size: 2.25rem; }
  .f3-l { font-size: 1.5rem; }
  .f4-l { font-size: 1.25rem; }
  .f5-l { font-size: 1rem; }
  .f6-l { font-size: .875rem; }
  .f7-l { font-size: .75rem; }
}

/*@media (--breakpoint-extra-large) {
  .f0-xl { font-size: 6rem; }
  .f1-xl { font-size: 3rem; }
  .f2-xl { font-size: 2.25rem; }
  .f3-xl { font-size: 1.5rem; }
  .f4-xl { font-size: 1.25rem; }
  .f5-xl { font-size: 1rem; }
  .f6-xl { font-size: .875rem; }
  .f7-xl { font-size: .75rem; }
}*/
