
@media (--breakpoint-extra-small) {
  .measure-xs  {
    max-width: 30em;
  }
  .measure-wide-xs {
    max-width: 34em;
  }
  .measure-narrow-xs {
    max-width: 20em;
  }

  .indent-xs {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .font-variant--small-caps-xs {
    font-variant: small-caps;
  }
  
  .truncate-xs {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-small) {
  .measure-s  {
    max-width: 30em;
  }
  .measure-wide-s {
    max-width: 34em;
  }
  .measure-narrow-s {
    max-width: 20em;
  }

  .indent-s {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .font-variant--small-caps-s {
    font-variant: small-caps;
  }

  .truncate-s {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-medium) {
  .measure-m  {
    max-width: 30em;
  }
  .measure-wide-m {
    max-width: 34em;
  }
  .measure-narrow-m {
    max-width: 20em;
  }

  .indent-m {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .font-variant--small-caps-m {
    font-variant: small-caps;
  }

  .truncate-m {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-large) {
  .measure-l  {
    max-width: 30em;
  }
  .measure-wide-l {
    max-width: 34em;
  }
  .measure-narrow-l {
    max-width: 20em;
  }

  .indent-l {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .font-variant--small-caps-l {
    font-variant: small-caps;
  }

  .truncate-l {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
