/*

   UTILITIES


   TODO: !!!!!

   Should be broken out into 'helpers not utilities as all of tachyons are utilities...'

   * aspect ratio
   * overflow
   * center content -  usually pared with max-width


 *
 * <b class="aspect-ratio-container is-16x9">
 *  <img class="aspect-ratio"></img>
 * </b>
 *
 * */

.aspect-ratio-container { 
  height: 0; /* <= not sure this is even needed? */
  position: relative;
}

.aspect-ratio {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.is-2x1   { padding-top: 50%;    }
.is-1x2   { padding-top: 200%;   }
.is-4x3   { padding-top: 75%;    }
.is-8x5   { padding-top: 62.5% ; }
.is-16x9  { padding-top: 56.25%; }

 








.overflow-y--scroll {
  overflow-y: scroll;
}

.margin-horizontal--auto {
  margin-right: auto;
  margin-left: auto;
}
