/*

   UTILITIES

   Should be broken out into 

   * aspect ratio
   * overflow
   * center content -  usually pared with max-width


 *
 * <div class="aspect-ratio-container is-16x9">
 *  <iframe class="aspect-ratio"></iframe>
 * </div>
 *
 * */

.aspect-ratio-container { /* <= not sure this is even needed? */
  height: 0;
  position: relative;
}

.aspect-ratio {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.is-1x2   { padding-top: 56.25%; }
.is-16x9  { padding-top: 56.25%; }
.is-4x3   { padding-top: 75%   ; }
.is-8x5   { padding-top: 62.5% ; }






.overflow-y--scroll {
  overflow-y: scroll;
}

.margin-horizontal--auto {
  margin-right: auto;
  margin-left: auto;
}
