

@media (--breakpoint-extra-small) {
  .vertical-align--baseline-xs   { vertical-align: baseline; }
  .vertical-align--middle-xs     { vertical-align: middle; }
  .vertical-align--top-xs        { vertical-align: top; }
  .vertical-align--bottom-xs     { vertical-align: bottom; }
}

@media (--breakpoint-small) {
  .vertical-align--baseline-s   { vertical-align: baseline; }
  .vertical-align--middle-s     { vertical-align: middle; }
  .vertical-align--top-s        { vertical-align: top; }
  .vertical-align--bottom-s     { vertical-align: bottom; }
}

@media (--breakpoint-medium) {
  .vertical-align--baseline-m   { vertical-align: baseline; }
  .vertical-align--middle-m     { vertical-align: middle; }
  .vertical-align--top-m        { vertical-align: top; }
  .vertical-align--bottom-m     { vertical-align: bottom; }
}

@media (--breakpoint-large) {
  .vertical-align--baseline-l   { vertical-align: baseline; }
  .vertical-align--middle-l     { vertical-align: middle; }
  .vertical-align--top-l        { vertical-align: top; }
  .vertical-align--bottom-l     { vertical-align: bottom; }
}
