

@media (--breakpoint-extra-small) {
  .white-space--normal-xs    { white-space: normal; }
  .white-space--nowrap-xs    { white-space: nowrap; }
  .white-space--pre-xs       { white-space: pre; }
}

@media (--breakpoint-small) {
  .white-space--normal-s    { white-space: normal; }
  .white-space--nowrap-s  { white-space: nowrap; }
  .white-space--pre-s     { white-space: pre; }
}

@media (--breakpoint-medium) {
  .white-space--normal-m    { white-space: normal; }
  .white-space--nowrap-m  { white-space: nowrap; }
  .white-space--pre-m     { white-space: pre; }
}

@media (--breakpoint-large) {
  .white-space--normal-l    { white-space: normal; }
  .white-space--nowrap-l  { white-space: nowrap; }
  .white-space--pre-l     { white-space: pre; }
}

