

@media (--breakpoint-extra-small) {
  .width--xxxsmall-xs { width: var(--xxxsmall); }
  .width--xxsmall-xs { width: var(--xxsmall); }
  .width--xsmall-xs { width: var(--xsmall); }
  .width--small-xs { width: var(--small); }
  .width--medium-xs {  width: var(--medium); }
  .width--large-xs {  width: var(--large); }
  .width--xlarge-xs {  width: var(--xlarge); }
  .width--xxlarge-xs {  width: var(--xxlarge); }
  .width--xxxlarge-xs {  width: var(--xxxlarge); }

  .width--10p-xs { width:  10%; }
  .width--20p-xs { width:  20%; }
  .width--25p-xs { width:  25%; }
  .width--30p-xs { width:  30%; }
  .width--33p-xs { width:  33%; }
  .width--34p-xs { width:  34%; }
  .width--40p-xs { width:  40%; }
  .width--50p-xs { width:  50%; }
  .width--60p-xs { width:  60%; }
  .width--70p-xs { width:  70%; }
  .width--75p-xs { width:  75%; }
  .width--80p-xs { width:  80%; }
  .width--90p-xs { width:  90%; }
  .width--100p-xs { width: 100%; }
  
  .width--auto-xs { width: auto; }
}

@media (--breakpoint-small) {
  .width--xxxsmall-s { width: var(--xxxsmall); }
  .width--xxsmall-s { width: var(--xxsmall); }
  .width--xsmall-s { width: var(--xsmall); }
  .width--small-s { width: var(--small); }
  .width--medium-s {  width: var(--medium); }
  .width--large-s {  width: var(--large); }
  .width--xlarge-s {  width: var(--xlarge); }
  .width--xxlarge-s {  width: var(--xxlarge); }
  .width--xxxlarge-s {  width: var(--xxxlarge); }

  .width--10p-s { width:  10%; }
  .width--20p-s { width:  20%; }
  .width--25p-s { width:  25%; }
  .width--30p-s { width:  30%; }
  .width--33p-s { width:  33%; }
  .width--34p-s { width:  34%; }
  .width--40p-s { width:  40%; }
  .width--50p-s { width:  50%; }
  .width--60p-s { width:  60%; }
  .width--70p-s { width:  70%; }
  .width--75p-s { width:  75%; }
  .width--80p-s { width:  80%; }
  .width--90p-s { width:  90%; }
  .width--100p-s { width: 100%; }

  .width--auto-s { width: auto; }
}

@media (--breakpoint-medium) {
  .width--xxxsmall-m { width: var(--xxxsmall); }
  .width--xxsmall-m { width: var(--xxsmall); }
  .width--xsmall-m { width: var(--xsmall); }
  .width--small-m { width: var(--small); }
  .width--medium-m {  width: var(--medium); }
  .width--large-m {  width: var(--large); }
  .width--xlarge-m {  width: var(--xlarge); }
  .width--xxlarge-m {  width: var(--xxlarge); }
  .width--xxxlarge-m {  width: var(--xxxlarge); }
  .width--10p-m { width:  10%; }
  .width--20p-m { width:  20%; }
  .width--25p-m { width:  25%; }
  .width--30p-m { width:  30%; }
  .width--33p-m { width:  33%; }
  .width--34p-m { width:  34%; }
  .width--40p-m { width:  40%; }
  .width--50p-m { width:  50%; }
  .width--60p-m { width:  60%; }
  .width--70p-m { width:  70%; }
  .width--75p-m { width:  75%; }
  .width--80p-m { width:  80%; }
  .width--90p-m { width:  90%; }
  .width--100p-m { width: 100%; }
  .width--auto-m {    width: auto; }
}

@media (--breakpoint-large) {
  .width--xxxsmall-l { width: var(--xxxsmall); }
  .width--xxsmall-l { width: var(--xxsmall); }
  .width--xsmall-l { width: var(--xsmall); }
  .width--small-l { width: var(--small); }
  .width--medium-l {  width: var(--medium); }
  .width--large-l {  width: var(--large); }
  .width--xlarge-l {  width: var(--xlarge); }
  .width--xxlarge-l {  width: var(--xxlarge); }
  .width--xxxlarge-l {  width: var(--xxxlarge); }
  .width--10p-l {    width:  10%; }
  .width--20p-l {    width:  20%; }
  .width--25p-l {    width:  25%; }
  .width--30p-l {    width:  30%; }
  .width--33p-l {    width:  33%; }
  .width--34p-l {    width:  34%; }
  .width--40p-l {    width:  40%; }
  .width--50p-l {    width:  50%; }
  .width--60p-l {    width:  60%; }
  .width--70p-l {    width: 70%;  }
  .width--75p-l {    width:  75%; }
  .width--80p-l {    width:  80%; }
  .width--90p-l {    width:  90%; }
  .width--100p-l {   width: 100%; }
  .width--auto-l {    width: auto; }
}
