

@media (--breakpoint-extra-small) {
  .word-break--normal-xs    { word-break: normal; }
  .word-break--wrap-xs      { word-break: break-all; }
  .word-break--nowrap-xs    { word-break: keep-all; }
}

@media (--breakpoint-not-small) {
  .word-break--normal-ns    { word-break: normal; }
  .word-break--wrap-ns      { word-break: break-all; }
  .word-break--nowrap-ns    { word-break: keep-all; }
}

@media (--breakpoint-medium) {
  .word-break--normal-m     { word-break: normal; }
  .word-break--wrap-m       { word-break: break-all; }
  .word-break--nowrap-m     { word-break: keep-all; }
}

@media (--breakpoint-large) {
  .word-break--normal-l   { word-break: normal; }
  .word-break--wrap-l     { word-break: break-all; }
  .word-break--nowrap-l   { word-break: keep-all; }
}
